@import "vars";
@import "mixins";
@import "vendor/reset"; //сброс дефолтных стилей


html {
    font-size: 62.5%; //это 10px от 16px(стандарта) //пишем в % чтобы была зависимость в rem
}

body {
    background-color: black;

    font-family: system-ui,-apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";

    font-size: 1.4rem; //типа 14px
    line-height: 1.5;
    color: $white;

    &.no-scroll { //убираем скролл при открытом sidebar
        overflow: hidden;
    }


    @include breakpoint($tablet-bp) {
        &.show-sidebar {
            overflow: hidden; //убираем скролл при открытом sidebar
        }
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a:focus { outline: none; }

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline
    }
}


/* Blocks */
@import "blocks/page.scss";
@import "blocks/header.scss";
@import "blocks/nav.scss";
@import "blocks/subnav.scss";
@import "blocks/search.scss";

@import "blocks/burger.scss";

@import "blocks/sidebar.scss";
@import "blocks/profile.scss";
@import "blocks/social.scss";
@import "blocks/btn.scss";

@import "blocks/stories.scss";
@import "blocks/add-post.scss";

@import "blocks/post.scss";
@import "blocks/related.scss";
@import "blocks/comments.scss";

@import "blocks/form.scss";

@import "blocks/work.scss";
@import "blocks/tags.scss";

@import "blocks/cabinet.scss";

@import "blocks/modal.scss";

@import "blocks/main.scss";
@import "blocks/container.scss";
@import "blocks/embed.scss";

@import "blocks/pagination.scss";