.add-post {
    padding: 1.5rem 2rem;
    margin-bottom: 3rem;

    background-color: $secondary;
    box-shadow: 0 15px 25px rgba($black, .45);
    border-radius: 5px;


    @include breakpoint($mobile-bp) {
        padding: 1.5rem;
    }
}

.add-post__form {
    position: relative;
}

.add-post__form > div {
    display: flex;
    align-items: flex-end;
}

.add-post__textarea {
    display: block;
    align-self: center;
    flex-grow: 1;
    height: 34px;

    border: none;
    background: transparent;
    resize: none;

    font-size: 1.5rem;
    color: $white;
    font-family: inherit;
    overflow: hidden;

    &::placeholder {
        color: #D2D2D2;
    }
}

.add-post__form-actions {
    width: 120px;
    flex-shrink: 0;
    display: flex;
    justify-content: flex-end;


    @include breakpoint($mobile-bp) {
        width: 9rem;
    }
}

.add-post__file,
.add-post__send {
    display: block;
    width: 44px;
    height: 44px;

    border: none;
    border-radius: 50%;
    cursor: pointer;

    transition: background-color .2s linear;


    @include breakpoint($mobile-bp) {
        width: 3.6rem;
        height: 3.6rem;

        background-size: 15px;
    }
}

.add-post__file{
    background: #EBEBEB url("../images/add-photo.jpg") center no-repeat;
    
    input {
        display: none;
    }

    &:hover {
        background-color: darken(#EBEBEB, 10%);
    }
}

.add-post__send {
    background: $blue url("../images/send.png") center no-repeat;
    margin-left: 1.5rem;
    font-size: 0;
    color: transparent;
    border-color: $blue;

    &:hover {
        background-color: darken($blue, 10%);
    }
}


.add-post__image {
    width: 100%;
    margin: 0 auto;
}

.add-post__image-preview {
    transition: 0.5s ease-in-out;
}