.add-post {
    padding: 1.5rem 2rem;
    margin-bottom: 3rem;

    background-color: $secondary;
    box-shadow: 0 15px 25px rgba($black, .45);
    border-radius: 5px;
}

.add-post__form {
    display: flex;
    align-items: center;
}

.add-post__textarea {
    display: block;
    flex-grow: 1;
    height: 26px;

    border: none;
    background: transparent;
    resize: none;

    font-size: 1.5rem;
    color: $white;
    font-family: inherit;
    overflow: hidden;

    &::placeholder {
        color: #D2D2D2;
    }
}

.add-post__form-actions {
    width: 120px;
    flex-shrink: 0;
    display: flex;
    justify-content: flex-end;
}

.add-post__file,
.add-post__send {
    display: block;
    width: 44px;
    height: 44px;

    border: none;
    border-radius: 50%;
    cursor: pointer;

    transition: background-color .2s linear;
}

.add-post__file{
    background: #EBEBEB url("../images/add-photo.jpg") center no-repeat;
    min-width: 44px;
    min-height: 44px;
    
    input {
        display: none;
    }

    &:hover {
        background-color: darken(#EBEBEB, 10%);
    }
}

.add-post__send {
    margin-left: 1.5rem;
    border-color: $blue;

    &:hover {
        background-color: darken($blue, 10%);
    }
}